.header {
  color: white;
  font-size: 50px;
  text-align: center; 
  margin-top: 10px;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 20%;
}

@media all and (min-width: 600px) {
  .icon { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .openIcon { order: 1; } 
  .importIcon { order: 2; }
}

.icon {
    color: white;
    font-size: 120px;
    background-color: transparent;
    border: none;
}

.iconText {
    font-size: 20px;
}

.button {
    border: none;
    background-color: transparent;
}

.icon :hover{
    border: none;
    color:rgb(135, 135, 135)
}

.tableLabel {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 2%;
}

table {
  background-color: #ddd;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}


td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: rgb(135, 135, 135);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #525252;
  color: white;
}