@import '~antd/dist/antd.css';

body {
  background-color: #dcdcdc;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 60px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #292929; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #d4d4d4;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  background-color: #101010;
  color: #ffffff;
}

.mainPage {
  margin-left: 60px;
}